<h2><%= current_user.name%> </h2>



<% @posts.each do |post| %>
	<div class="dash-review">
		<h2><%= link_to post.title, post_path(post.id)%></h2>
		<p><%= post.user.name%></p>
		<p><%= post.body%></p>
	</div>
<%end%>